html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
figure,
figcaption,
table,
th,
td img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
abbr,
acronym,
address,
big,
blockquote,
body,
caption,
cite,
code,
dd,
dl,
dt,
fieldset,
form,
h1,
time,
h2,
h3,
h4,
h5,
h6,
html,
img,
ins,
kbd,
label,
legend,
li,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}
body {
  font-family: Verdana;
  font-size: 14px;
  margin: 0;
  line-height: 24px;
  color: #333;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.transition {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
a:link,
a:active,
a:visited,
a:hover {
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
input {
  border-radius: 0;
  outline: none;
}
img {
  border: 0;
  vertical-align: middle;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #fff;
}

body,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  padding: 0;
  border: none;
  *vertical-align: middle;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 12px;
  *width: 12px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #555;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #555;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #555;
}
ul,
li,
dl,
dt,
dd {
  list-style: none;
}
body {
  font-family: helvetica_neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.conteains::after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
textarea {
  resize: none;
  outline: none;
  font-family: helvetica_neue, Helvetica, Arial, sans-serif;
}
img {
  height: auto;
  max-width: 100%;
  _width: expression(this.width > 100% ? "100%": this.width);
}

.conteains {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.h_top {
  background-color: #161825;
  color: #fff;
  padding: 10px 0;
  position: relative;
}
.h_top .p1 {
  float: left;
  width: 33%;
  padding-left: 40px;
  background: url(../images/rg.png) no-repeat left center;
  background-size: 28px;
}
.h_top .p1 span {
  font-size: 18px;
  color: #fff;
  line-height: 30px;
}
.h_top .p1:hover a,
.h_top .p2:hover a {
  color: #f46a13;
}
.h_top ol {
  float: left;
  width: 33%;
  text-align: center;
}
.h_top ol li {
  display: inline-block;
  font-size: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  margin: 0 3px;
}

.h_top .p2 {
  float: right;
  width: 33%;
}
.h_top .p2 a {
  float: right;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  display: inline-block;
  padding-left: 30px;
  background: url(../images/emailss1.png) no-repeat left center;
  background-size: 25px;
}
.nav_list {
  position: absolute;
  left: 0;
  top: 50px;
  right: 0;
  z-index: 99;
}

.nav_contly {
  padding: 15px 10px;
  background-color: #fff;
  position: relative;
}
.nav_contly .logo {
  float: left;
  display: block;
  max-width: 158px;
}
.nav_contly ul {
  float: right;
}
.nav_contly ul li {
  float: left;
}
.nav_contly ul li a {
  display: block;
  font-size: 16px;
  color: #333;
  line-height: 46px;
  padding: 0 25px;
}
.nav_contly ul li a:hover {
  background-color: #16bae1;
  color: #fff;
}

.headeroneicon {
  position: relative;
  float: right;
  padding: 5px 10px 9px;
  margin-top: 7px;
  cursor: pointer;
  display: none;
  background-color: #16bae1;
}
.headeroneicon .icon-bar {
  display: block;
  width: 22px;
  background-color: #fff;
  margin-top: 4px;
  height: 2px;
  border-radius: 1px;
  transition: all 0.3s;
}

@media screen and (max-width: 860px) {
  .nav_contly ul {
    float: none;
    position: absolute;
    right: 0;
    top: 68px;
    width: 120px;
    padding: 10px;
    background-color: #16bae1;
    display: none;
  }
  .nav_contly ul li {
    width: 100%;
    float: none;
  }
  .nav_contly ul li a {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    padding: 0;
  }
  .headeroneicon {
    display: block;
  }
  .nav_contly {
    padding: 10px;
  }
}
@media screen and (max-width: 640px) {
  .h_top .p2 {
    display: none;
  }
  .h_top .p1,
  .h_top ol {
    width: 50%;
  }
  .h_top ol li {
    float: right;
  }
}
/*------------*/
.banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url(../images/b2.jpg) no-repeat;
  background-size: cover;
  padding: 300px 0;
}

.banner .ban-con {
  width: 100%;
  color: #fff;
  line-height: 1.2;
  z-index: 565;
  padding: 10px;
}
.ban-con span {
    display: block;
    color: #16bae1;
    font-size: 20px;
    line-height: 1.2;
}
.ban-con strong {
  display: block;
  font-size: 50px;
  line-height: 1.2;
  margin-top: 10px;
}
.ban-con p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  margin-top: 20px;
  letter-spacing: 1px;
}
.ban-con .btn01 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    line-height: 42px;
    padding: 0 30px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background-color: #16bae1;
    color: #fff;
    margin-top: 20px;
}
    .ban-con .btn01:before {
        content: "";
        position: absolute;
        border: #16bae1 solid 2px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
.ban-con .btn01:hover::before {
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1200px) {
  .banner {
    padding: 200px 0;
  }
}
@media screen and (max-width: 992px) {
  .banner {
    padding: 150px 0;
  }
  .banner .ban-con {
    text-align: center;
  }
  .ban-con strong {
    display: block;
    font-size: 30px;
    line-height: 1.2;
    margin-top: 10px;
  }
  .ban-con p {
    font-size: 16px;
    line-height: 30px;
  }
}
@media screen and (max-width: 640px) {
  .banner {
    padding: 100px 0 80px;
  }
  .ban-con strong {
    display: none;
  }
  .ban-con p {
    font-size: 14px;
    line-height: 24px;
  }
}

.mepro_list {
  width: 100%;
  padding: 40px 0 10px;
  overflow: hidden;
  background-color: #fff;
}
.mepro_list li {
  display: block;
  float: left;
  text-align: center;
  width: 31.3%;
  margin: 0 1% 15px;
}
.mepro_list li a {
  color: #414141;
  font-size: 16px;
  cursor: pointer;
  background-color: #031d34;
  color: #fff;
  display: block;
  padding: 10px 0;
}
.mepro_list li a.active {
  background-color: rgba(0, 136, 232, 1);
}
@media (max-width: 767px) {
  .mepro_list li {
    width: 48%;
  }
}
@media (max-width: 480px) {
  .mepro_list li {
    width: 98%;
  }
}

/* plit_cont */
.plit_cont {
  overflow: hidden;
  padding: 30px 0;
}
.plit_cont li {
  width: 31.3%;
  margin: 0 1% 20px;
  float: left;
  box-sizing: border-box;
  padding: 10px;
  border: solid 1px #ddd;
}
.plit_cont li a {
  display: block;
}
.plit_cont li a img {
  width: 100%;
  height: auto;
}
.plit_cont li .aht {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
  line-height: 30px;
  font-weight: 600;
  overflow: hidden;

  text-overflow: ellipsis;

  white-space: nowrap;
}
.plit_cont li .ptit {
  line-height: 24px;
  margin-bottom: 20px;
  font-size: 16px;

  display: -webkit-box;

  -webkit-box-orient: vertical;

  -webkit-line-clamp: 3;

  overflow: hidden;
}
.plit_cont li .p_red {
  width: 167px;
  line-height: 43px;
  text-align: center;
  position: relative;
  font-size: 18px;
  margin-bottom: 0;
  height: auto;
}
.plit_cont li .p_red a {
  color: #000;
  display: block;
  background: #ffba00;
}
.plit_cont li .p_red:before {
  width: 0;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 22px solid #ffba00;
  border-right: 22px solid #fff;
}
@media (max-width: 860px) {
  .plit_cont li {
    width: 48%;
  }
}
@media (max-width: 480px) {
  .plit_cont li {
    width: 98%;
  }
}
/* plit_cont */

/* pro_bg */
.pro_bg {
  overflow: hidden;
  background-size: cover;
  padding: 30px 0;
}
.pro_pic {
  float: left;
  width: 38%;
}
.pro_pic img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.pro_in {
  float: right;
  width: 60%;
}
.pro_in h1 {
  font-size: 30px;
  font-family: proximanova-light;
  margin-bottom: 15px;
  margin-top: 10px;
  line-height: 34px;
}
.pro_in p {
  font-size: 16px;
  line-height: 24px;
  font-family: proximanova-light;
  margin-bottom: 15px;
}
.pro_in p.pl1 {
  font-size: 16px;
  color: #333;
  padding-left: 30px;
  background: url(../images/11.png) no-repeat left center;
  background-size: 22px;
}
.pro_in p.pl2 {
  font-size: 16px;
  color: #333;
  padding-left: 30px;
  background: url(../images/22.png) no-repeat left center;
  background-size: 22px;
}
.pro_email {
  font-size: 18px;
  color: #16bae1;
  background: url(../images/top_email.png) left center no-repeat;
  background-size: 22px 22px;
  padding-left: 30px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
.pro_btn {
  overflow: hidden;
  margin-top: 20px;
}
.pro_btn .proder_l {
  float: left;
  color: #fff;
  display: block;
  width: 146px;
  line-height: 36px;
  font-size: 15px;
  border-radius: 4px;
  padding: 7px 10px;
  background: #16bae1;
  text-align: center;
  background-size: 24px auto;
  box-sizing: border-box;
}

.pro_l h3 {
  font-size: 24px;
}
.pro_l p {
  font-family: proximanova-light;
  font-size: 16px;
  line-height: 25px;
  margin: 25px 0;
}
.pro_l {
  margin-top: 30px;
}

@media (max-width: 860px) {
  .pro_pic {
    width: auto;
  }
  .pro_in {
    width: 98%;
    margin: 15px 1% 0;
  }
}
/* pro_bg */

/* nav */
.nav {
  position: relative;
  overflow: hidden;
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
}
.nav ol {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 185px;
  padding-left: 30px;
  background: url(../images/home.png) no-repeat left center;
  background-size: 18px;
}
.nav ol li {
  display: inline-block;
  font-weight: normal;
}
.nav ol li a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
.nav ol li span {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

/* nav */

/*//  contact_fore*/
.contact_fore {
  margin-top: 50px;
}
.list-font {
  width: 100%;
  overflow: hidden;
}
.contact_fore .titl {
  width: 100%;
  line-height: 1.6;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}
.contact_fore .text {
  width: 100%;
  text-align: center;
  line-height: 2;
  font-size: 14px;
  color: #878787;
  overflow: hidden;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}
.list-font li {
  width: 33.333333%;
  float: left;
}
.contact-item {
  margin-bottom: 3px;
  background-color: #eaebef;
  padding: 50px 20px;
  text-align: center;
  transition: all 0.5s;
}

.contact-item .icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.5s;
}
.contact_fore .item-01 .icon {
  background-image: url(../images/icon_contact_01.png);
}
.contact_fore .item-02 .icon {
  background-image: url(../images/icon_contact_02.png);
}
.contact_fore .item-03 .icon {
  background-image: url(../images/icon_contact_03.png);
}
.contact_fore .item-03:hover .icon {
  background-image: url(../images/icon_contact_03_hover.png);
}
.contact_fore .item-01:hover .icon {
  background-image: url(../images/icon_contact_01_hover.png);
}
.contact_fore .item-02:hover .icon {
  background-image: url(../images/icon_contact_02_hover.png);
}
.contact_fore .contact-item h4 {
  margin-bottom: 20px;
  transition: all 0.5s;
  font-size: 20px;
  color: #31323a;
  font-weight: 700;
}
.contact_fore .contact-item p {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 24px;
  height: 48px;
  overflow: hidden;
  color: #7a7a7a;
  transition: all 0.5s;
}
.contact_fore .contact-item p {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 24px;
  height: 48px;
  overflow: hidden;
  color: #7a7a7a;
  transition: all 0.5s;
}
.contact_fore .list-font li + li,
.contact_fore .list-font li + li + li + li + li {
  padding-left: 3px;
}
.contact_fore .contact-item p a {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  border-radius: 36px;
  background: #16bae1;
  color: #fff;
  transition: all 0.5s;
}

.contact_fore .contact-item p span {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    border-radius: 36px;
    background: #16bae1;
    color: #fff;
    transition: all 0.5s;
}

.contact_fore .contact-item:hover {
  background-color: #16bae1;
}
.contact_fore .contact-item:hover h4 {
  color: #fff;
}
.contact_fore .contact-item:hover p a {
  background: #fff;
  color: #16bae1;
}
.contact_fore .contact-item:hover p {
  color: #fff;
}

@media (max-width: 767px) {
  .list-font li {
    width: 100%;
  }
  .contact-item {
    padding: 30px 20px;
  }
}

/*contact_from*/
.contact_from {
  position: relative;
  background: #fff;
  border-radius: 30px 30px 60px 20px;
  -webkit-box-shadow: 0 0 30px rgba(40, 55, 96, 0.15);
  -moz-box-shadow: 0 0 30px rgba(40, 55, 96, 0.15);
  -ms-box-shadow: 0 0 30px rgba(40, 55, 96, 0.15);
  -o-box-shadow: 0 0 30px rgba(40, 55, 96, 0.15);
  box-shadow: 0 0 30px rgba(40, 55, 96, 0.15);
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 50px 30px 30px;
}
.contact_from .title {
  font-size: 28px;
  display: block;
  color: #26376d;
  font-weight: bold;
  line-height: 80px;
  background: #d0d8ed;
  border-radius: 20px 46px 46px 0;
  width: 266px;
  text-align: center;
  position: absolute;
  top: -40px;
  left: 0;
}
.contact_fl {
  width: 48%;
  float: left;
  box-sizing: border-box;
}
.contact_fl .flp {
  font-size: 16px;
  color: #333333;
  line-height: 30px;
  margin-bottom: 20px;
}
.contact_fr {
  width: 52%;
  float: right;
  box-sizing: border-box;
  padding-left: 45px;
  position: relative;
}
.contact_fr::before {
  content: "";
  position: absolute;
  width: 347px;
  height: 288px;
  background: url(../images/ly-pic.png) no-repeat;
  right: 0;
  bottom: -44px;
}
.send {
  width: 100%;
}

.send .input-panel input[type="text"] {
  width: 100%;
  height: 48px;
  display: block;
  background-color: #fff;
  box-sizing: border-box;
  padding: 5px 5px 5px 12px;
  border: 1px solid #d0d8ed;
  margin-bottom: 15px;
  position: relative;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(38, 55, 109, 0.15);
  -moz-box-shadow: 0 0 5px rgba(38, 55, 109, 0.15);
  -ms-box-shadow: 0 0 5px rgba(38, 55, 109, 0.15);
  -o-box-shadow: 0 0 5px rgba(38, 55, 109, 0.15);
  box-shadow: 0 0 5px rgba(38, 55, 109, 0.15);
}
.send .five textarea {
  width: 100%;
  box-sizing: border-box;
  height: 150px;
  background-color: #fff;
  padding: 15px 5px 5px 15px;
  border: 1px solid #d0d8ed;
  position: relative;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(38, 55, 109, 0.15);
  -moz-box-shadow: 0 0 5px rgba(38, 55, 109, 0.15);
  -ms-box-shadow: 0 0 5px rgba(38, 55, 109, 0.15);
  -o-box-shadow: 0 0 5px rgba(38, 55, 109, 0.15);
  box-shadow: 0 0 5px rgba(38, 55, 109, 0.15);
}
.send .PorConSixXX {
  display: none;
}

.send .btn-primary {
  height: 45px;
  line-height: 45px;
  background: #16bae1;
  width: 100%;
  display: block;
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  display: block;
  float: right;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
}
.contact_frcnt {
  background: #16bae1;
  padding: 43px 0 270px 70px;
  border-radius: 20px 20px 120px 30px;
  height: 100%;
  box-sizing: border-box;
}
.contact_frcnt .cont_us {
  font-size: 30px;
  color: #fff;
  text-align: left;
  font-weight: bold;
  margin-bottom: 50px;
}
.contact_frcnt .pp1,
.contact_frcnt .pp2 {
  font-size: 17px;
  color: #ffffff;
  line-height: 36px;
  margin-bottom: 20px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.19);
  position: relative;
  padding-left: 40px;
}
.contact_frcnt .pp1 {
  background: url(../images/rg.png) no-repeat left center;
  background-size: 30px;
}
.contact_frcnt .pp2 {
  background: url(../images/ca.png) no-repeat left center;
  background-size: 30px;
}

.contact_frcnt .pp2 {
  margin-bottom: 40px;
}
.contact_frcnt .pp1 b {
  font-weight: bold;
  font-size: 22px;
}
.contact_frcnt .cwc_btn {
  font-size: 24px;
  color: #26376d;
  display: inline-block;
  line-height: 56px;
  padding: 0 50px;
  background: #fff;
  border-radius: 15px 0 15px 0;
  -webkit-box-shadow: 0 6px 18px rgba(28, 40, 70, 0.28);
  -moz-box-shadow: 0 6px 18px rgba(28, 40, 70, 0.28);
  -ms-box-shadow: 0 6px 18px rgba(28, 40, 70, 0.28);
  -o-box-shadow: 0 6px 18px rgba(28, 40, 70, 0.28);
  box-shadow: 0 6px 18px rgba(28, 40, 70, 0.28);
  cursor: pointer;
}
.contact_frcnt .cwc_btn:hover {
  box-shadow: none;
}
@media (max-width: 860px) {
  .contact_fl {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  .contact_fr {
    width: 100%;
    float: none;
    box-sizing: border-box;
    padding-left: 0;
    position: relative;
  }
  .contact_frcnt {
    padding: 30px 0 240px 30px;
    border-radius: 0 0 120px 0;
    height: 100%;
    box-sizing: border-box;
  }
}
@media (max-width: 640px) {
  .contact_fr::before {
    display: none;
  }
  .contact_frcnt {
    padding: 20px;
    border-radius: 0;
  }
  .contact_from {
    position: relative;
    background: #fff;
    border-radius: 0;
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 50px 20px 20px;
  }
  .contact_frcnt .cont_us {
    font-size: 28px;

    margin-bottom: 30px;
  }
  .contact_frcnt .pp1,
  .contact_frcnt .pp2 {
    font-size: 16px;
    line-height: 30px;
  }
  .contact_frcnt .pp2 {
    margin-bottom: 30px;
  }
  .contact_from .title {
    font-size: 28px;
    display: block;
    color: #26376d;
    font-weight: bold;
    line-height: 60px;
    background: #d0d8ed;
    border-radius: 20px 46px 46px 0;
    width: 240px;
    text-align: center;
    position: absolute;
    top: -30px;
    left: 0;
  }
}
/* contact-form*/

.loacter {
  position: relative;
  height: 180px;
  overflow: hidden;
  background: url(../images/about_pro_bg.jpg) no-repeat top center;
  background-size: cover;
}
.loacter b {
  display: block;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 65px;
}
.loacter p {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  padding-left: 24px;
  background: url(../images/home.png) no-repeat left center;
  background-size: 16px;
}
.loacter p a {
  color: #fff;
}
/* --------------- */

/* about */

.foot {
  padding: 15px;
  background-color: #212121;
}
.foot p {
  text-align: center;
  color: #fff;
  font-size: 14px;
}

/* content */
.content {
  margin-bottom: 30px;
  overflow: hidden;
  margin-top: 30px;
}
.content h4 {
  font-size: 28px;
  margin: 0 0 20px 0;
  text-align: center;
  color: #ff4e00;
}
    .content p {
        font-size: 15px;
        line-height: 1.5;
        color: #666;
    }
.content p img {
  width: 90%;
  height: auto;
}
.content h2 {
  font-size: 27px;
  color: #ff4e00;
  margin: 15px 0;
  text-align: center;
}
.box-nl {
  width: 100%;
  overflow: hidden;
}
.box-nl ul {
  width: 100%;
  margin-top: 30px;
}
.box-nl ul li {
  float: left;
  width: 31.3%;
  margin: 0 1% 20px;
  font-size: 16px;
}
.box-nl ul li img {
  width: 100%;
  height: auto;
}
.box-nl ul li p {
  line-height: 35px;
  text-align: center;
  background: #f5f5f5;
  width: 100%;
  overflow: hidden;

  text-overflow: ellipsis;

  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .box-nl ul li {
    width: 48%;
  }
}

/* content */

/* about */

/* footer */
.footer {
  background-color: #1f1f1f;
  padding-top: 30px;
  padding-bottom: 30px;
  background-size: 100% 100%;
}
.footer .text {
  text-align: center;
  padding: 30px 0 0;
  color: #f7f7f7;
}
.lf_one {
  width: 20%;
  float: left;
  margin-right: 5%;
}
.lf_one h3,
.lf_two h3,
.lf_three h3 {
  width: 100%;
  height: 48px;
  line-height: 48px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative;
  text-align: left;
}
.lf_one h3::before,
.lf_two h3::before,
.lf_three h3::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  position: absolute;
  bottom: 1px;
  background: #fff;
}
.lf_one h3::after,
.lf_two h3::after,
.lf_three h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  position: absolute;
  bottom: 0;
  background: #f2f2f2;
}
.lf_two {
  width: 75%;
  float: left;
  margin-right: 5%;
}
.lf_three {
  width: 20%;
  float: left;
}
.lf_one li {
  height: 52px;
  padding: 5px 20px 5px 0;
  box-sizing: border-box;
}
.lf_one li a {
  display: block;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  position: relative;
  padding-left: 20px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lf_one li a::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  transform: rotate(45deg);
  left: 0;
  top: 15px;
  transition: all 0.5s;
}
.lf_two h3 {
  margin-bottom: 25px;
}
.lf_two li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 20px 0 0;
  float: left;
  width: 45%;
  margin-right: 10%;
  box-sizing: border-box;
  border-bottom: dashed 1px #999;
}
.lf_two li:nth-of-type(2n) {
  margin-right: 0;
}
.lf_two li a {
  display: block;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  position: relative;
  padding-left: 20px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lf_two li a::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  transform: rotate(45deg);
  left: 0;
  top: 15px;
  transition: all 0.5s;
}

.lf_three p {
  overflow: hidden;
  font-size: 14px;
  line-height: 24px;
  padding-left: 35px;
  position: relative;
  color: #fff;
  margin-top: 40px;
  background: url(../images/ca.png) no-repeat left center;
  background-size: 24px 24px;
  text-align: left;
}
.lf_three a {
  overflow: hidden;
  font-size: 14px;
  line-height: 24px;
  padding-left: 35px;
  position: relative;
  color: #fff;
  margin-top: 20px;
  display: block;
  background: url(../images/ca1.png) no-repeat left center;
  background-size: 24px 24px;
  text-align: left;
}

@media screen and (max-width: 1400px) {
  .footer {
    background: #333;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 992px) {
  .lf_one,
  .lf_two,
  .lf_three {
    width: 100%;
    float: inherit;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 640px) {
  .lf_two li {
    width: 100%;
    float: inherit;
  }
}

/* single  */

.single {
  padding: 10px 0;
  background: #212121;
  position: relative;
}
.single::before {
  top: 1px;
  background: #30333e;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  position: absolute;
}
.single::after {
  top: 0;
  background: #181817;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  position: absolute;
}
.single .wetyll {
  line-height: 32px;
  font-size: 14px;
  color: #fff;
  opacity: 0.7;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .single .wetyll {
    float: none;
    text-align: center;
  }
}
/* single  */

/* spacelf */

/* index_prodt */
.index_prodt {
  margin-top: 40px;
}

.index_prodt h2 {
  text-align: center;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-size: 6px 3px;
  margin-bottom: 10px;
}

.index_prodt .text {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 25px;
  text-align: center;
  position: relative;
}
.index_prodt ul {
  margin-left: -2%;
}
.index_prodt li {
  width: 23%;
  float: left;
  margin-left: 2%;
  margin-bottom: 20px;
}
.index_prodt li img {
  width: 100%;
  height: auto;
}
.index_prodt li .img {
  display: block;
  position: relative;
}
.index_prodt li .img::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  display: block;
  opacity: 0;
  text-align: center;
  transform: perspective(400px) rotateX(-90deg);
  transform-origin: top;
  transition: all 0.3s;
  background-color: rgba(36, 41, 54, 0.52);
}
.index_prodt li .img::after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50%;
  display: block;
  opacity: 0;
  text-align: center;
  transform: perspective(400px) rotateX(90deg);
  transform-origin: bottom;
  transition: all 0.3s;
  background-color: rgba(36, 41, 54, 0.52);
}
.index_prodt li:hover .img::before {
  opacity: 1;
  transform: perspective(400px) rotateX(0deg);
  transition: all 700ms ease 100ms;
}
.index_prodt li:hover .img::after {
  opacity: 1;
  transform: perspective(400px) rotateX(0deg);
  transition: all 700ms ease 300ms;
}
.index_prodt li .texts {
  margin: 7px 0;
  text-align: left;
}
.index_prodt li .texts h3 a {
  font-size: 16px;
  font-weight: bolder;
  line-height: 32px;
  padding-right: 10px;
  display: block;
  color: #333;
  overflow: hidden;

  text-overflow: ellipsis;

  white-space: nowrap;
}

.index_prodt li .texts p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  height: 60px;

  display: -webkit-box;

  -webkit-box-orient: vertical;

  -webkit-line-clamp: 3;

  overflow: hidden;
}

.index_prodt li .texts a.view-all {
  padding: 5px 18px;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  margin-top: 6px;
  background: rgba(0, 136, 232, 1);
  margin-top: 15px;
}
@media screen and (max-width: 992px) {
  .index_prodt li {
    width: 31.3%;
  }
}
@media screen and (max-width: 767px) {
  .index_prodt li {
    width: 48%;
  }
}

@media screen and (max-width: 480px) {
  .index_prodt li {
    width: 98%;
  }
}

/* index_prodt */

.wor_fixt {
  border: dashed 1px #4477c0;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 50px;
}
.wor_fixt h1 {
  font-size: 32px;
  text-align: center;
  line-height: 34px;
  margin-bottom: 30px;
}
.wor_fixt .baset {
  width: 30%;
  float: left;
}
.wor_fixt .banset_cont {
  width: 68%;
  float: right;
}
.wor_fixt .banset_cont img {
  float: right;
  width: 300px;
  margin-left: 20px;
}
.baset p {
  color: #222;
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
}
.baset a {
  display: inline-block;
  width: 160px;
  font-size: 16px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  background-color: #16bae1;
  margin-top: 20px;
}
.wor_fixt .banset_cont p {
  font-size: 16px;
  color: #555;
  line-height: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  height: 180px;
}

@media screen and (max-width: 767px) {
  .wor_fixt .baset {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 30px;
  }
  .wor_fixt h1 {
    font-size: 28px;
    text-align: center;
    line-height: 34px;
    margin-bottom: 10px;
  }
  .wor_fixt {
    padding: 20px 10px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .wor_fixt .banset_cont {
    width: 100%;
    float: none;
  }
  .wor_fixt .banset_cont img {
    display: none;
  }
  .wor_fixt .banset_cont p {
    text-align: center;
    height: auto;
  }
  .wor_fixt .banset_cont img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    float: none;
  }
}

/*zxy_read*/

.sol_list {
  margin-top: 40px;
  margin-bottom: 20px;
}
.sol_list h2 {
  position: relative;
  letter-spacing: 0.5px;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}
.sol_list .text {
  color: #999;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
  text-align: center;
}
.sol_list ul {
  margin-left: -2%;
}



.sol_list li {
  width: 31.3%;
  float: left;
  margin-left: 2%;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 0px 10px #dfdfdf;
  transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  border-radius: 0 0 10px 10px;
}
.sol_list li .img {
  display: block;
  overflow: hidden;
}
.sol_list li:hover .img img {
  transform: scale(1.2);
  transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
.sol_list li .img img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
.sol_list li .p_box {
  position: relative;
  width: 100%;
  padding: 15px;
  z-index: 9;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.sol_list li .p_box h3 a {
  display: block;
  font-size: 22px;
  margin: 10px 0;
  color: #232323;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.sol_list li .p_box p {
  line-height: 24px;
  height:48px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: center;
  color: #666;
}
.sol_list li .p_box .more {
  position: relative;
  display: block;
  width: 35%;
  text-align: center;
  padding: 10px 10px;
  background-color: #16bae1;
  color: #fff;
  margin: 5px auto 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  z-index: 9;
}
.sol_list li .p_box .more::after {
  display: block;
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: #f46a13;
  transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  z-index: -1;
}
.sol_list li:hover .p_box .more::after {
  width: 100%;
  transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}


@media screen and (max-width: 860px) {
    .sol_list li {
        width: 48%;
    }
}

@media screen and (max-width: 450px) {
    .sol_list li {
        width: 98%;
    }
}

/*zxy_read*/

.call-out2 {
  background: #16bae1;
  padding: 30px 0;
  text-align: center;
}
.call-out2 strong {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  display: block;
  line-height: 1.3;
  margin-bottom: 25px;
}

.call-out2 .thm-btn {
  position: relative;
  display: block;
  width: 180px;
  text-align: center;
  padding: 10px 10px;
  background-color: #f46a13;
  color: #fff;
  margin: 5px auto 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  z-index: 9;
}
.call-out2 .thm-btn::after {
  display: block;
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: #181818;
  transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  z-index: -1;
}
.call-out2 .thm-btn:hover::after {
  width: 100%;
  transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}

/*longtime*/
.longtime {
  margin-top: 40px;
  margin-bottom: 20px;
}
.longtime ul {
  margin-left: -2%;
}
.longtime li {
  width: 31.3%;
  float: left;
  margin-left: 2%;
  margin-bottom: 25px;
  text-align: center;
  background-color: #f1f1f1;
  transition: all 0.3s;
}
.longtime li .img {
  width: 100%;
  display: block;
  height: auto;
}
.longtime li .img img {
  width: 100%;
  height: auto;
  display: block;
}
.longtime li .pro_box {
  padding: 20px 10px;
  box-sizing: border-box;
}
.pro_box h3 a {
  display: block;
  font-size: 22px;
  text-align: center;
  color: #333;
  line-height: 1.2;
  margin-bottom: 10px;
  overflow: hidden;
  height: 52px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.pro_box p {
  color: #666;
  font-size: 15px;
  line-height: 26px;
  height: 78px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-top: 10px;
}
.pro_box .pro-btn {
  display: inline-block;
  line-height: 40px;
  padding: 0 24px;
  text-align: center;
  color: #16bae1;
  background-color: #fff;
  border: 2px solid #16bae1;
  margin-top: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 14px;
  font-weight: bold;
}
.longtime li:hover .pro-btn {
  background-color: #16bae1;
  color: #fff;
}
.longtime li:hover {
  transform: translateY(-5px);
  transition: all 0.3s;
}

@media screen and (max-width: 860px) {
  .longtime li {
    width: 48%;
  }
  .pro_box h3 a {
    font-size: 18px;
    height: 42px;
  }
}
@media screen and (max-width: 450px) {
  .longtime li {
    width: 98%;
  }
}
/*longtime*/

/*new_list*/
.new_list {
  padding: 30px 0;
  background: url(../images/about_pro_bg.jpg) no-repeat bottom center;
  background-size: cover;
}
.new_list strong {
  display: block;
  color: #eee;
  font-size: 28px;
  font-weight: normal;
  line-height: 1.2;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}
.new_list strong:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 50px;
  height: 3px;
  background-color: #16bae1;
}
.new_list strong::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.09);
}
.new_list ul {
  margin-left: -2%;
}
.new_list li {
  width: 23%;
  float: left;
  margin-left: 2%;
}
.new_list li a {
  display: block;
  color: #ccc;
  line-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  position: relative;
  padding-left: 18px;
  transition: all 0.5s;
}
.new_list li a:hover {
  color: #f46a13;
  transition: all 0.5s;
}
.new_list li a:hover::before {
  background-color: #f46a13;
  transition: all 0.5s;
}
.new_list li a:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 17px;
  width: 6px;
  height: 6px;
  background-color: #ccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s;

  border-radius: 50%;
}
@media screen and (max-width: 992px) {
  .new_list li {
    width: 31.3%;
  }
}
@media screen and (max-width: 767px) {
  .new_list li {
    width: 48%;
  }
}
@media screen and (max-width: 414px) {
  .new_list li {
    width: 98%;
  }
}
/*new_list*/

/*Blog*/
.blog {
  margin-top: 40px;
  margin-bottom: 30px;
}

.blog_top {
  margin-bottom: 30px;
}
.blog_top li {
  float: left;
}
.blog_top li a {
  margin-right: 10px;
  line-height: 44px;
  margin-bottom: 10px;
  background-color: #f3f3f3;
  padding: 0 20px;
  color: #333;
  display: block;
}
.blog_top li.active a {
  background-color: #16bae1;
  color: #fff;
}

.blog_bottom {
}
.blog_bottom ul {
  margin-left: -2%;
}
.blog_bottom li {
  width: 48%;
  margin-left: 2%;
  padding: 15px;
  background-color: #f3f3f3;
  box-sizing: border-box;
  float: left;
  margin-bottom: 15px;
}
.blog_bottom li .img {
  width: 200px;
  height: auto;
  display: block;
  float: left;
  margin-right: 15px;
}
.blog_bottom li h3 a {
  font-size: 18px;
  color: #333;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-bottom: 10px;
}
.blog_bottom li p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  height: 63px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-bottom: 15px;
}
.blog_bottom li .btn {
  display: inline-block;
  background: #16bae1;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 7px 30px;
}
.blog_bottom li:hover .btn {
  background-color: #40bea7;
}
@media screen and (max-width: 992px) {
  .blog_bottom li {
    width: 98%;
  }
}
@media screen and (max-width: 767px) {
  .blog_bottom li .img {
    width: auto;
    float: none;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .blog_bottom li {
    width: 48%;
  }
}
@media screen and (max-width: 480px) {
  .blog_bottom li {
    width: 98%;
  }
  .blog_bottom li img {
    width: 100%;
    height: auto;
  }
}

.blog_fl {
  width: 68%;
  float: left;
}
.blog_fl h1 {
  font-size: 28px;
  color: #333;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 15px;
}
    .blog_fl p {
        text-align: justify;
        font-size: 16px;
        color: #666;
        line-height: 1.8;
        text-align: left;
        margin-bottom: 30px;
    }
.b_img {
  width: 100%;
  margin-bottom: 10px;
}
.b_img img {
  width: 49%;
  float: left;
  display: block;
  margin-right: 2%;
}
.b_img img:last-child {
  margin-right: 0;
}
.blog_fr {
  width: 28%;
  float: right;
}
.b_pro {
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
  margin-bottom: 20px;
}
.blog_sever {
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.11);
  margin-bottom: 20px;
  background-color: #16bae1;
}
.blog_sever h4 {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #fff;
  margin-bottom: 10px;
}
.blog_sever p {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #fff;
}
.blog_sever span.btn {
  display: block;
  background: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  width: 140px;
  margin-top: 10px;
  width: 140px;
  line-height: 40px;
  text-align: center;
}
.b_pro h2 {
  position: relative;
  display: block;
  font-size: 22px;
  margin-bottom: 30px;
  line-height: 30px;
  max-width: 240px;
}
.b_pro h2:before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 18%;
  height: 4px;
  width: 15px;
  background-color: #ddd;
}
.b_pro h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 4px;
  width: 15%;
  background-color: #16bae1;
}
.b_pro li {
  width: 100%;
}
    .b_pro li h3 a {
        font-size: 16px;
        color: #333;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 46px;
        display: block;
    }
@media screen and (max-width: 860px) {
  .blog_fl {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  .blog_fr {
    width: 100%;
    float: none;
  }
  .b_pro ul {
    margin-left: -2%;
  }
  .b_pro li {
    width: 31.3%;
    float: left;
    margin-left: 2%;
  }
}
@media screen and (max-width: 767px) {
  .b_pro li {
    width: 48%;
  }
  .b_pro li h3 a {
    font-size: 14px;
    font-weight: normal;
    line-height: 40px;
  }
}
@media screen and (max-width: 414px) {
  .b_pro li {
    width: 98%;
  }
}
/*Blog*/

/* section_gap */
.section_gap {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: url(../images/bg.jpg) no-repeat center;
  background-size: cover;
  padding: 40px 0;
}

.section_gap .htop {
  font-size: 28px;
  line-height: 34px;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}
.section_gap .ptop {
  font-size: 16px;
  line-height: 22px;
  color: #f7f7f7;
  margin-bottom: 30px;
  text-align: center;
}

.section_gap ul {
}
.section_gap ul li {
  border: 1px solid #777777;
  border-radius: 10px;
  background-color: rgba(249, 249, 255, 0.102);
  padding: 20px 30px;
  color: #fff;
  margin: 0 1% 20px;
  width: 48%;
  box-sizing: border-box;
  float: left;
}
.section_gap ul li h4 {
  padding-left: 40px;
  font-size: 18px;
  line-height: 38px;
  font-weight: 600;
}
.section_gap ul li p {
  font-size: 14px;
  line-height: 24px;
  display: -webkit-box;

  -webkit-box-orient: vertical;

  -webkit-line-clamp: 3;

  overflow: hidden;
  height: 72px;
  margin-top: 10px;
}

.section_gap ul li h4.ht1 {
  background: url(../images/comp1.png) no-repeat left center;
  background-size: auto 30px;
}
.section_gap ul li h4.ht2 {
  background: url(../images/comp2.png) no-repeat left center;
  background-size: auto 30px;
}

.section_gap ul li h4.ht3 {
  background: url(../images/comp3.png) no-repeat left center;
  background-size: auto 30px;
}

.section_gap ul li h4.ht4 {
  background: url(../images/comp4.png) no-repeat left center;
  background-size: auto 30px;
}

@media (max-width: 860px) {
  .section_gap ul li {
    width: 98%;
    padding: 15px 10px;
  }
  .section_gap ul li h4 {
    font-size: 16px;
  }
}

/* section_gap */

/* producty_lt */

.producty_lt {
  margin-top: 40px;
  margin-bottom: 20px;
}
.producty_lt h2 {
  position: relative;
  letter-spacing: 0.5px;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}
.producty_lt .text {
  color: #999;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
  text-align: center;
}
.producty_lt li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #f1f1f1;
}
.producty_lt li .img {
  display: block;
  width: 300px;
  float: left;
  margin-right: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.producty_lt li .img img {
  display: block;
  width: 100%;
  height: auto;
}
.producty_lt li .prod_box {
  overflow: hidden;
}
.prod_box h3 a {
  font-size: 22px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  line-height: 30px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.prod_box p {
  line-height: 28px;
  height: 84px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: #666;
  font-size: 16px;
  margin-bottom: 15px;
}
.prod_box .btn {
  display: block;
  width: 150px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  background-color: #16bae1;
  text-transform: capitalize;
  font-size: 16px;
  position: relative;
  z-index: 1;
}

.prod_box .btn::after {
  display: block;
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: #f46a13;
  transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  z-index: -1;
}
.producty_lt li:hover .btn::after {
  width: 100%;
  transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}
@media (max-width: 640px) {
  .producty_lt li .img {
    display: block;
    width: 100%;
    float: none;
    margin-right: 0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }
}
/* producty_lt */
.next_pre {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

    .next_pre .pre {
        float: left;
        font-size: 14px;
        line-height: 1.5;
    }

    .next_pre .next {
        float: right;
        font-size: 14px;
        line-height: 1.5;
    }

@media (max-width: 782px) {
    .next_pre .pre {
        float: none;
        display: block;
    }

    .next_pre .next {
        float: none;
        margin-top: 10px;
        display: block;
    }
}
